---
layout: default
title: "Projects"
---

<!-- Lightboxes -->
{% for project in site.data.projects %}
    <a href="#project{{project.id}}" class="lightbox" id="lightbox{{project.id}}">
        <img loading="lazy" src="{{project.image | relative_url}}" aria-label="{{project.image-aria}}" alt="{{project.image-aria}}"></img>
        <span>Click anywhere to close.</span>
    </a>
{% endfor %}

<div class="projects__professional m--b--xl">
    <h3 class="subtitle--center text--uppercase">Professional</h3>
    <ul class="list--plain m--none">
        {% for project in site.data.bigProjects %}
            {% capture reverse %}{% cycle 'reverse' : '', 'flex--row-reverse' %}{% endcapture %}
            <li>
                <div class="project__major m--b--xl {{reverse}}">
                    <div class="project__major__section">
                        <img class="project__major__image box-shadow--small" src="{{project.image | relative_url}}"
                            aria-label="{{project.image-aria}}" />
                    </div>
                    <div class="project__major__section display--flex flex--column">
                        <h4>
                            {{project.title}} for <a href="{{project.url}}" target="_blank">{{project.company}}</a>
                        </h4>
                        <p>{{project.blurb}}</p>
                        <a href="{{project.url}}" target="_blank" type="button" class="pure-button pure-input-1-2 pure-button-primary m--t--m">Check
                            it
                            out!<i class="fas fa-external-link-alt m--l--s"></i></a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="projects__side">

    <h3 class="subtitle--center text--uppercase">Side Projects, Hackathons and Older Work</h3>
    <span class="mobile--only align--center">(Click thumbnails to open in larger modal.)</span>

    <ul class="display--flex flex--column list--no-padding list--plain">
        {% for project in site.data.projects %}
            <li class="project__minor display--flex" id="project{{project.id}}">
                <a class="lightbox__link" href="#lightbox{{project.id}}">
                    <img class="project__minor__image box-shadow--small"
                        aria-label="{{project.thumb-image-aria}}"
                        alt="{{project.thumb-image-aria}}. Click to open larger image."
                        src="{{project.thumb-image | relative_url}}" />
                    <div class="lightbox__link__overlay">
                        <i class="lightbox__icon--zoom fas fa-search-plus"></i>
                    </div>
                </a>
                <div class="project__minor__text">
                    <h4 class="project__minor__title">
                        {{project.title}} ({{project.tech}})
                    </h4>
                    {% if project.repo %}
                        <a target="_blank" class="pure-button pure-input-1-2 pure-button-primary button--xsmall" href="https://github.com/emulrooney/{{project.repo}}">
                            <i aria-hidden="true" class="fab fa-github m--r--s"></i>Git Repository</a>
                    {% endif %}
                    {% if project.video %}
                        <a target="_blank" class="pure-button pure-input-1-2 pure-button-primary button--xsmall" href="{{project.video}}">
                            <i aria-hidden="true" class="fab fa-youtube m--r--s"></i>Watch Demo Video</a>
                    {% endif %}
                    {% if project.demo %}
                        <a target="_blank" class="pure-button pure-input-1-2 pure-button-primary button--xsmall" href="{{project.demo | relative_url}}">
                            <i aria-hidden="true" class="fas fa-gamepad m--r--s"></i>Try it!</a>
                    {% endif %}

                    <p>{{project.blurb}}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>