@media (min-width: 769px)  {
    nav ul {
        display: block;
    }

    nav ul li {
        list-style: none;
        display: block;
    }

    header div {
        top: 37.5%;
        transform: translate(0, -50%);
        position: sticky;
        display: flex;
        flex-direction: column;
    }
}

header a {
    text-decoration: none;
}

header h2 {
    color: var(--pico-h4-color);
    font-size: 1.25rem;
}