$size-s: 8px;
$size-m: 16px;
$size-l: 32px;
$size-xl: 64px;

$color-main: #252222;

$tag-main: #eeaa99;
$tag-secondary: #9977ff;

html {
    font-family: 'Barlow', Helvetica, sans-serif;
    color: $color-main;
    background: radial-gradient(farthest-corner at 40px 0px, #eaecc6 0, #2bc0e4 100%); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;    
}

body {
    margin: 0px;
    padding: 0px;
}

section {
    max-width: 80%;
    margin: auto;
    
    @media (max-width: 640px) {
        max-width: 100%;
    }

    .panel__title {
        margin-left: $size-s;
    }
}

footer {
    width: 100%;
    background-color: $color-main;
    color: #eaecc6;
    font-size: .8em;
    text-align: center;
    margin: 0;

    a {
        color: white;
        font-weight: 700;
    }

    p {
        margin: 4px 0 0 0;
    }
}

.panel {
    background-color: rgba(255,255,255,0.45);
    border: 2px solid black;
    border-radius: $size-m;
    margin-bottom: $size-l;
    
    overflow: hidden;
    transition: .4s all ease;

}

.panel__title {
    font-size: 1.5em; 
    margin: 0;
}

.panel:hover {
    background-color: rgba(255,255,255,0.66);
}


nav {
    position: sticky;
    background-color: transparent;
    vertical-align: middle;
    top: 0;
    left: 0;
    right: 0;
    transition: .2s all ease;
    z-index: 10;
}

.nav__list {
    transition: .2s all ease;
    text-align: center;
    padding: 0;
    list-style: none;
    
    a {
        color: $color-main;
        transition: .2s all ease;
    }
    
    a:hover {
        font-size: 1.05em;
        color: #575555;
    }
}

.nav--opaque {
    background-color: rgba(255, 255, 255, 0.75);
    
    
    &:hover {
        background-color: rgba(250, 250, 250, 1);
    }
    
    
    
    .nav__list {
        margin: 0;
        right: 0;
    }
    
    .nav__home {
        left: 0px;
    }
}

.nav__list li {
    display: inline-block;
    font-size: 1.25em;
    margin: $size-s $size-m;
}

.about__headshot, .about__text {
    display: inline-block;
    vertical-align: top;
}

.about {
    margin-top: 64px;
    display: flex;
}

.about__text {
    max-width: 70%;
    padding: 0 2%;
}

.about__headshot {
    overflow: hidden;
}

.about__headshot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects__container {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    list-style: none;
    margin: 0;
    padding: $size-l;
    flex-wrap: wrap;
}

.project {
    max-width: 30%;
    margin-bottom: $size-l;
}

.project__item {
    position: relative;
    
    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .project__title {
        margin: -1.25em 0 0 0;
        font-size: 1.25em;
    }

    .project__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $color-main + aa;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
      }
      
      &:hover .project__overlay, .project__overlay.force-show {
        height: 100%;
      }
      
      .project__text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        right: -50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
}

.project__tags {
    list-style: none;
    margin: 0;
    padding: 0;
}

li[class^="tags__"] {
    float: left;
    margin: 2px 2px 0 0;
    padding: 2px 4px;
    border-radius: 8px;
    font-size: 0.75em;
    font-weight: 900;

    &[class*="main"] {
        border: 1px solid $tag-main;
        background-color: $tag-main;
    }

    &[class*="secondary"] {
        border: 1px solid $tag-secondary;
        background-color: $tag-secondary;
    }
}

.contact {
    .panel {
        padding: 0 $size-l;
    }

    h5 {
        font-size: 1.5em;
        margin-bottom: 0;
    }
}


.contact__socials__list {
    list-style-type: none;
    display: flex;
    width: 100%;
    padding: 0;
}

button {
    background-color: transparent;
    color: $color-main;
}

[class^="button"], button {
    padding: $size-s;
    border-radius: $size-s / 2; 
    margin: $size-s;
    font-size: .75em;
    transition: 0.2s all ease;

    &[class*=--large] {
        font-size: 1.5em;
    }

    &[class*=--outline] {
        border: 1px solid;
        
        a {
            color: inherit;
        }
        
        
        &.white {
            color: white;
            border-color: white;
        
            &:hover {
                background-color: white;
                color: $color-main;
            }
        }
        
        &.main {
            color: $color-main;
            border-color: $color-main;
        
            &:hover {
                background-color: $color-main;
                color: white;
            }
        }

    }
}

.display--none {
    display: none;
}

