html {
  font-family: "Barlow", Helvetica, sans-serif;
  color: #252222;
  background: radial-gradient(farthest-corner at 40px 0px, #eaecc6 0, #2bc0e4 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

section {
  max-width: 80%;
  margin: auto;
}
@media (max-width: 640px) {
  section {
    max-width: 100%;
  }
}
section .panel__title {
  margin-left: 8px;
}

footer {
  width: 100%;
  background-color: #252222;
  color: #eaecc6;
  font-size: 0.8em;
  text-align: center;
  margin: 0;
}
footer a {
  color: white;
  font-weight: 700;
}
footer p {
  margin: 4px 0 0 0;
}

.panel {
  background-color: rgba(255, 255, 255, 0.45);
  border: 2px solid black;
  border-radius: 16px;
  margin-bottom: 32px;
  overflow: hidden;
  transition: 0.4s all ease;
}

.panel__title {
  font-size: 1.5em;
  margin: 0;
}

.panel:hover {
  background-color: rgba(255, 255, 255, 0.66);
}

nav {
  position: sticky;
  background-color: transparent;
  vertical-align: middle;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s all ease;
  z-index: 10;
}

.nav__list {
  transition: 0.2s all ease;
  text-align: center;
  padding: 0;
  list-style: none;
}
.nav__list a {
  color: #252222;
  transition: 0.2s all ease;
}
.nav__list a:hover {
  font-size: 1.05em;
  color: #575555;
}

.nav--opaque {
  background-color: rgba(255, 255, 255, 0.75);
}
.nav--opaque:hover {
  background-color: #fafafa;
}
.nav--opaque .nav__list {
  margin: 0;
  right: 0;
}
.nav--opaque .nav__home {
  left: 0px;
}

.nav__list li {
  display: inline-block;
  font-size: 1.25em;
  margin: 8px 16px;
}

.about__headshot, .about__text {
  display: inline-block;
  vertical-align: top;
}

.about {
  margin-top: 64px;
  display: flex;
}

.about__text {
  max-width: 70%;
  padding: 0 2%;
}

.about__headshot {
  overflow: hidden;
}

.about__headshot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects__container {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  list-style: none;
  margin: 0;
  padding: 32px;
  flex-wrap: wrap;
}

.project {
  max-width: 30%;
  margin-bottom: 32px;
}

.project__title {
  margin: -1.25em 0 0 0;
  font-size: 1.25em;
}

.project__visual {
  position: relative;
}
.project__visual img {
  display: block;
  width: 100%;
  height: auto;
}
.project__visual a {
  color: #2bc0e4;
}
.project__visual .project__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #252222aa;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.1s ease-out;
}
.project__visual:hover .project__overlay, .project__visual .project__overlay.force-show {
  height: 100%;
}
.project__visual .project__text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.project__tags {
  list-style: none;
  margin: 0;
  padding: 0;
}

li[class^=tags__] {
  float: left;
  margin: 2px 2px 0 0;
  padding: 2px 4px;
  border-radius: 8px;
  font-size: 0.75em;
  font-weight: 900;
}
li[class^=tags__][class*=main] {
  border: 1px solid #eeaa99;
  background-color: #eeaa99;
}
li[class^=tags__][class*=secondary] {
  border: 1px solid #9977ff;
  background-color: #9977ff;
}

.contact .panel {
  padding: 0 32px;
}
.contact h5 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.contact__socials__list {
  list-style-type: none;
  display: flex;
  width: 100%;
  padding: 0;
}

button {
  background-color: transparent;
  color: #252222;
}

[class^=button], button {
  padding: 8px;
  border-radius: 4px;
  margin: 8px;
  font-size: 0.75em;
  transition: 0.2s all ease;
}
[class^=button][class*="--large"], button[class*="--large"] {
  font-size: 1.5em;
}
[class^=button][class*="--outline"], button[class*="--outline"] {
  border: 1px solid;
}
[class^=button][class*="--outline"] a, button[class*="--outline"] a {
  color: inherit;
}
[class^=button][class*="--outline"].white, button[class*="--outline"].white {
  color: white;
  border-color: white;
}
[class^=button][class*="--outline"].white:hover, button[class*="--outline"].white:hover {
  background-color: white;
  color: #252222;
}
[class^=button][class*="--outline"].main, button[class*="--outline"].main {
  color: #252222;
  border-color: #252222;
}
[class^=button][class*="--outline"].main:hover, button[class*="--outline"].main:hover {
  background-color: #252222;
  color: white;
}

.display--none {
  display: none;
}

/*# sourceMappingURL=main.css.map */
