<div class="pure-u-1 pure-u-md-8-24 sidebar colors__sidebar">
    <div class="hero--center">
        <img class="content__image image__border--dark image--rounded mobile--hide m--b--m" alt="Headshot of Evan Mulrooney" src="{{ "assets/images/headshot_cropped.jpg" | relative_url }}">

        <h1>Evan Mulrooney</h1>
        <h2>Software Developer based in London, ON</h2>
        <nav>
            <ul class="pure-menu-list align--center">
                <li class="pure-menu-item ">
                    <a class="pure-menu-link nav__link" href="{{ '/' | relative_url }}">Home</a>
                </li>
                <!-- <li class="pure-menu-item ">
                    <a class="pure-menu-link nav__link" href="{{ '/blog' | relative_url }}">Blog</a>
                </li> -->
                <li class="pure-menu-item">
                    <a class="pure-menu-link nav__link" href="{{ '/projects' | relative_url }}">Projects</a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link nav__link" href="{{ '/resume' | relative_url }}">Resume</a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link nav__link" href="{{ '/contact' | relative_url }}">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</div>