---
layout: default
title: "Resume"
---

<div>
    <h3 class="m--t--xl">Employment</h3>
    <ul class="list--plain list--no-padding">
        {% for work in site.data.resumeWork %}
        <li>
            <h4 class="resume__item__title disable-margin">
                <span>{{work.title}}</span>
                <span>{{work.organization}}</span>
                <span>{{work.timeframe}}</span>
            </h4>
            <ul>
                {% for item in work.line-items %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    <h3 class="m--t--xl">Education</h3>
    <ul class="list--plain list--no-padding">
        {% for school in site.data.resumeEducation %}
        <li>
            <h4 class="resume__item__title disable-margin">
                <span>{{school.location}}</span>
                <span>{{school.organization}}</span>
                <span>{{school.timeframe}}</span>
            </h4>
            <ul>
                {% for item in school.line-items %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    {% for extra in site.data.resumeExtras %}
        <h3 class="m--t--xl">{{extra.title}}</h3>
        <ul>
            {% for item in extra.line-items %}
                <li>{{item}}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>